.__container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transition: 1s;
    background-color: rgba(211, 211, 211, 0.45);
}
.__content{
    position: fixed;
    left: 5vw;
    /* right: 50px; */
    top: 25vh;
    bottom: 0;
    z-index: 100;
    transition: 1s;
    height: 100vh;
    width: 90vw;
}

.__btn{
	display:block;
	position:absolute;	
	cursor:pointer;
	border-radius:10px;
	padding:15px;	
	height:30px;
	z-index: 100;	
	transition: 0.5s;
}
.__btn:hover{
	background-color:blue;
}

.__close{
	
    top: calc(25vh - 15px);
	right:40px;
	background-color: lightgray;
    background-size: 70%;
    background-position-x: 5px;
    background-position-y: 5px;
    background-repeat: no-repeat;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAk5JREFUWIXtl79r20AUx59ObnDMRRaVMS3IcSF7DMlQ3NLIaqeCfyxZPAf8PyXgQobSIUMGQQuB1ATceHMibXEWq1YgGZyhhFC7SOoQzqjSKZJOHfMdny1/Pn4nvYcAnkJJT1HwQFWb/+v3Bqra7CkKpn2GaPCX5fLXtWr1cNho7KSFDxuNnbVq9fBFufyNJsHT4KX19XdZjLllQai38/mr3dHojBVeqlT2VgoFJBSLq/ZstrUtigf7pjkPCHjhiH8oL+VyzBIEjiUJAQBwCAFNYnEEWYTeP5fltwROgiUJlSqVvSTH4YeTIJ4HSZbfPOO4D4EOdMfji7YoXi0LQn0pl+O8FybpRBgcAODu9taxDKPz+ujoS0AAAGB3NDpr5/PMElHwyfl5Z0PTut467/8iqwQLnCrAIsEKBwDgaMVY/2o6dSa63gEAYIVHCsSRAHh4UljgACFH4E3UcfhrSeCxBKIk0sBjC8SVSAoHoCyjVHHdxJfE7sBjNyMJy+6IJRAHzioRKRA1ZOb3926a3fGoQJwJ9+vmRkuzwDJp4ORuHwJ9Gi5WOQCEPRnUDiSd7Wm2aECAdbGwSvwjkGarsUosBAaq2ny1ufl5pVBgXixxJLIY11s8r38ajy8APJPwt+N8n1rWqWPbzHCSDU3rTnS9Q7YliWPbMLWs0z+ue0xqiw7sm+Z8WxQP7NlsSygWVzmEmOAk/k44tg0/DaN/bZof1ZOTu4CAX4LPZGTLMJjgfoksxvXry8sffnhoeoqC+7VaixXsT79Wa4W9mj3lL/zS7VHFGgFEAAAAAElFTkSuQmCC");

}
.__save{
	background-color:lightblue;	
    bottom: calc(25vh - 15px);
	left:40px;
    padding: 15px;
    height: auto;
}
.__save:focus{
	background-color:orange;
}
